<div class="overview">
  <h1>Angular CDK</h1>
  <section>
    <h2>¿Qué es y para que sirve?</h2>
    <p>
      El CDK <i>(Component Dev Kit)</i> de Angular es una biblioteca de
      herramientas y utilidades proporcionada por el equipo de Angular para
      facilitar el desarrollo de componentes personalizados y mejorar la
      experiencia general del desarrollo en Angular. Se puede considerar como un
      conjunto de herramientas que extienden las capacidades de Angular para la
      construcción de componentes y la interacción con la interfaz de usuario.
      Algunos de los beneficios clave del uso del CDK de Angular incluyen:
    </p>

    <ul>
      <li>
        <strong>Reutilización de Componentes:</strong> El CDK facilita la
        creación de componentes reutilizables al proporcionar un conjunto de
        herramientas y utilidades comunes. Esto fomenta las mejores prácticas de
        desarrollo y la construcción de interfaces de usuario consistentes en
        toda la aplicación.
      </li>
      <li>
        <strong>Accesibilidad:</strong> El CDK incluye características y
        utilidades que ayudan a mejorar la accesibilidad de los componentes.
        Esto es esencial para garantizar que las aplicaciones sean utilizables
        por una amplia variedad de usuarios, incluyendo aquellos con
        discapacidades.
      </li>
      <li>
        <strong>Mejoras en la Interfaz de Usuario:</strong>
        Con el CDK, puedes implementar funcionalidades avanzadas en la interfaz
        de usuario de manera más eficiente. Esto incluye cosas comod drag-drop,
        accordion, dialogs, etc.
      </li>

      <li>
        <strong> Compatibilidad con Múltiples Plataformas: </strong>
        El CDK está diseñado para funcionar tanto en aplicaciones web como en
        aplicaciones móviles con Angular. Esto proporciona una base sólida para
        el desarrollo de aplicaciones que pueden ejecutarse en diferentes
        dispositivos y plataformas.
      </li>
      <li>
        <strong> Flexibilidad: </strong>
        El CDK proporciona una serie de herramientas que permiten una mayor
        flexibilidad en la construcción de componentes. Puedes personalizar y
        extender las funcionalidades según tus necesidades específicas.
      </li>
      <li>
        <strong> Actualizaciones y Mantenimiento: </strong>
        Al utilizar el CDK, puedes beneficiarte de las actualizaciones y mejoras
        continuas proporcionadas por el equipo de Angular. Esto ayuda a mantener
        tu código actualizado y compatible con las últimas versiones de Angular.
      </li>
    </ul>
  </section>

  <section>
    <h2>¿Cómo instalar el CDK?</h2>
    <p>
      Se trata de un paquete npm que podemos encontrar
      <a
        href="https://www.npmjs.com/package/@angular/cdk"
        target="_blank"
        rel="noopener noreferrer"
        title="https://www.npmjs.com/package/@angular/cdk"
        >aquí</a
      >
      y lo podemos instalar escribiendo en la terminal de nuestro proyecto:
      <code>npm i &#64;angular/cdk</code>.
    </p>
  </section>
</div>
